* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Sriracha', cursive;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font1);
    font-size: 5vw;
}

header > p {
    padding-bottom: 50px;
}

header > p > a, footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header > p > a:hover, footer > p > a  {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-weight: bolder;
    font-size: 3vw;
}

section.normal {
    background-color: white;
}

section.imagem {
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.541);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.493);
    display: inline-block;
    color: white;
    padding: 10px;
    text-shadow: 3px 1px 3px black;
}

section#imagem1 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#imagem2 {
    background-image: url(../imagens/background002.jpg);
    background-position: left center;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}